header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 63px;
    z-index: 50;
    top: 0px;

}

.desktop-nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.mobile-nav {
    display: none;
}

.menuBtns {
    display: none;
}

/* mobile */
@media (max-width: 580px) {

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        /* visible but offscreen initially in mobile */
        position: fixed;
        top: 0;
        right: 0;
        width: 80vw;
        height: 100vh;

        padding: 20px;
        transform: translateX(100%);
        /* hide off-screen initially */
        transition: transform 0.3s ease;
        /* smooth slide animation */
        z-index: 1000;
        background-color: rgba(255, 254, 254, 0.911);
        /* dark glass */
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);

        box-shadow:
            0 10px 25px rgba(0, 0, 0, 0.35);
    }

    .mobile-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .mobile-nav a {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

    .menuBtns {
        display: block;
        position: absolute;
        right: 12px;
         top: 10px;
    }

    

    .mobile-nav.open-menu {
        transform: translateX(0);
    }

    .mobile-nav.close-menu {
        transform: translateX(100%);

    }
}