@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* background img on home page */
.hero-bg{
  position: absolute;
  inset: 0;
  background-image: url("/image/card-logo.png");
  background-position: top !important; 
  background-repeat:no-repeat ;
  opacity: 100;
  background-size:cover ;
}


@media (max-width: 756px) {
.hero-bg{
  background-image: url("/image/card-mobile-logo.png");
    background-position: bottom !important; 
}

}