/* background img on home page */
.hero-bg{
  position: absolute;
  inset: 0;
  background-image: url("images/countryside_road_logo_middle.png");
  background-position: center !important; 
  background-repeat:no-repeat ;
  opacity: 100;
  background-size:cover ;
}


/* @media (max-width: 500px) {
.hero-bg{
  background-image: url("images/countryside_road_logo_mobile.png");
    background-position: center !important; 
}

} */